.nav {
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 20px;
    z-index: 1;
    height:30px;
    transition-timing-function: ease-in;
    transition: all 1s;
}

.nav_black {
    background-color: black;
}

.nav_logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    color: crimson;
    font-size: 2.5rem;
    cursor: default;
}
